.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "#"} Gutenberg
      .nav-collapse.collapse
        %form.navbar-form.pull-right
          %input.span2{:placeholder => "usuario", :type => "text"}/
          %input.span2{:placeholder => "contraseña", :type => "password"}/
          %button.btn.btn-success{:type => "submit"} entrar