#gutenberg.container
  .row
    .span4
    .span4
      %h1 Narnia
      %p ISBN: 12824234
      %p Fecha de publicación: 10/07/2013
      %p Páginas: 150
      %p Copias: 2
      %p Editorial: Lorem Ipsum
      %p Categoría: Ciencia Ficción
      %p Prestado: Adrian Ayala
      %button.btn.btn-success{:type => "submit"} pedir prestado
      %button.btn.btn-danger{:type => "submit"} editar
    .span4
  %hr/