!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Gutenberg
    %meta{:content => "width=device-width, initial-scale=1.0", :name => "viewport"}/
    %link{:href => "/stylesheets/main.css", :rel => "stylesheet"}/
  %body
    - if @user != true
      = render(:haml, :'_signin')
    - else 
      = render(:haml, :'_menu')
    = yield
  %footer.container
    %p © Diverza 2013