.custom-landing.carousel {
  margin-top: -45px;
  margin-bottom: 60px;
  .container {
    position: relative;
    z-index: 9;
    .carousel-caption {
      background-color: transparent;
      position: static;
      max-width: 550px;
      padding: 0 20px;
      margin-top: 200px;
      h1, .lead {
        margin: 0;
        line-height: 1.25;
        color: #fff;
        text-shadow: 0 1px 1px rgba(0,0,0,.4);
      }
    }
  }
  .item {
    height: 500px;
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
  }
}

.not-signed-alert {
  margin: 20px 20px 20px 0;
  position: fixed;
  width: inherit;
}
