#authors-shelf
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .row
        - @authors.each do |author|
          .author.col-xs-6.col-sm-4.col-md-3.col-lg-3
            .panel.panel-default
              .panel-body
                .row 
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    %h4= author.full_name
                    - author.books.each do |book|
                      .row 
                        .col-xs-12
                          %p
                            = link_to book.short_title, book_path(book.slug), class: 'book-title', data: { slug: book.slug }
                .row 
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    - if author.books.size > 5
                      = link_to 'Más libros...', author_path(author.slug), class: 'btn btn-success'
