#book-preview.modal.fade
.container
  %h2 Libros populares
  = render 'books/books_shelf_phone'
  = render 'books/books_shelf'
  %hr
.container 
  %h2 Revistas populares
  .row 
  = render 'magazines/magazines_shelf_phone'
  = render 'magazines/magazines_shelf'
  %hr