.container
  .custom-resource-container
    %h1 Libros más leídos
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th Título
          %th Páginas
          %th Copias
          %th Categoría
          %th Prestamo
          %th Acciones
      %tbody
        %tr
          %td
            %a{:href => '#'} Narnia 1
          %td 300
          %td 2
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestado
          %td
            %i.icon-edit
            %i.icon-trash
        %tr
          %td
            %a{:href => '#'} Narnia 2
          %td 100
          %td 1
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestado
          %td
            %i.icon-edit
            %i.icon-trash
        %tr
          %td
            %a{:href => '#'} Narnia 3
          %td 250
          %td 4
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestado
          %td
            %i.icon-edit
            %i.icon-trash
        %tr
          %td
            %a{:href => '#'} Narnia 4
          %td 250
          %td 4
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestado
          %td
            %i.icon-edit
            %i.icon-trash
        %tr
          %td
            %a{:href => '#'} Narnia 5
          %td 250
          %td 4
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestado
          %td
            %i.icon-edit
            %i.icon-trash
    %legend
    %a{:href => '#'} — Ver más libros —
  .custom-resource-container
    %h1 Revistas más leídas
    %table.table.table-hover.table-condensed
      %thead
        %tr
          %th #
          %th Título
          %th Fecha de publicación
          %th Copias
          %th Categoría
          %th Prestamo
          %th Acciones
      %tbody
        %tr
          %td 1
          %td
            %a{:href => '#'} Lorem Ipsum
          %td 10/07/2013
          %td 2
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestada
          %td
            %i.icon-edit
            %i.icon-trash
        %tr
          %td 2
          %td
            %a{:href => '#'} Lorem Ipsum
          %td 10/07/2013
          %td 1
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestada
          %td
            %i.icon-edit
            %i.icon-trash
        %tr
          %td 3
          %td
            %a{:href => '#'} Lorem Ipsum
          %td 10/07/2013
          %td 2
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestada
          %td
            %i.icon-edit
            %i.icon-trash
        %tr
          %td 3
          %td
            %a{:href => '#'} Lorem Ipsum
          %td 10/07/2013
          %td 4
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestada
          %td
            %i.icon-edit
            %i.icon-trash
        %tr
          %td 3
          %td
            %a{:href => '#'} Lorem Ipsum
          %td 10/07/2013
          %td 3
          %td
            %a{:href => '#'} Ciencia ficción
          %td
            %button.btn.btn-success{:type => "submit"} Pedir prestada
          %td
            %i.icon-edit
            %i.icon-trash
    %legend
    %a{:href => '#'} — Ver más revistas —
  %hr/