#myCarousel.carousel.slide
  .carousel-inner
    .item.active
      = image_tag('header.jpg', alt: 'Biblioteca')
      .container
        .carousel-caption
          %h1 Bienvenido a la biblioteca.
          %p.lead Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
.container
  .row
    .span4
      %h2 Encuentra
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .span4
      %h2 Comparte
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
    .span4
      %h2 Dona
      %p Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus.
  %hr/