#books-shelf
  .row
    .col-xs-12.col-sm-12.col-md-12.col-lg-12
      .row
        - @books.each do |book|
          .book.col-xs-4.col-sm-6.col-md-4.col-lg-4
            .panel.panel-default
              .panel-body
                .row 
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12.text-center
                    %img{src:'http://placehold.it/150x220'}
                    %hr
                .row
                  .col-xs-12.col-sm-12.col-md-12.col-lg-12
                    %h4= book.title
                    %p
                      %strong Autor(es):
                      = raw(authors_links(book))
                    %p 
                      %strong Categoria: 
                      = link_to book.category.category, category_path(book.category.slug)
                    - if book.copies > 0 
                      %button.btn.btn-success{:type => "submit"} Pedir prestado
                    - else
                      %button.btn.disabled{:type => "submit"} Copias agotadas  