.custom-resource-container {
  margin-bottom: 70px;

  h1 {
    padding-bottom: 40px;
    text-align: center;
  }

  .book-container {
    float:left;
    overflow: hidden;
  }

  .book-info {
    .row {
      padding: 5px 5px 5px 0;
    }
  }

  .magazine-container {
    float:left;
    overflow: hidden;
  }

  .magazine-info {
    .row {
      padding: 5px 5px 5px 0;
    }
  }

  i {
    margin: 5px;
  }
}
