h1 {
  margin-bottom: 40px;
}

.book-container {
  margin-bottom: 20px;

  img {
    margin: 0 10px 0 0;
  }

  .book-info {
    .row {
      padding: 3px 3px 3px 0;
    }
  }
}

.magazines-container {
  margin-bottom: 20px;

  img {
    margin: 0 10px 0 0;
  }

  .magazine-info {
    .row {
      padding: 3px 3px 3px 0;
    }
  }
}