h1 {
  margin-bottom: 40px;
}

.book-container {
  margin-bottom: 10px;

  img {
    margin: 0 10px 10px 0;
  }

  .book-info {
    .row {
      padding: 3px 3px 3px 0;
    }
  }
}

.magazine-container {
  margin-bottom: 10px;

  img {
    margin: 0 10px 10px 0;
  }

  .magazine-info {
    .row {
      padding: 3px 3px 3px 0;
    }
  }
}