#magazines-shelf {
  button {
    width: 100%;
  }
}

#magazines-shelf-phone {
  display: none !important;

  button {
    width: 100%;
  }
}

@media (max-width: 505px) { 
  #magazines-shelf-phone {
    display: block !important;
  } 

  #magazines-shelf {
    display: none !important;
  }
}

@media (min-width: 505px) and (max-width: 705px) { 
 .magazine {
    width: 50%;
  }
}