#magazines-shelf {
  margin-bottom: 20px;
}

#magazines-shelf-phone {
  display: none !important;

  button {
    width: 100%;
  }
}

@media (max-width: 560px) { 
  #magazines-shelf-phone {
    display: block !important;
  } 

  #magazines-shelf {
    display: none !important;
  }
}
}