body {
  background-color: rgba(236, 240, 241,0.2);
}

.align-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

a {
  &:hover {
    text-decoration: none;
  }
}

.divider-line {
  height: 1px;
  background-color: #E3E3E3;
  margin: 5px 0 5px 0;
}

.head-line {
  background-color: rgba(236, 240, 241,1.0);
  border-bottom: 1px solid rgba(52, 73, 94,0.1);
}

@media only screen and (max-width: 64em) {
  #content {
    width: 100%;
  }
}