.row
  .head-line.small-12.columns.show-for-large-up
    %h3.text-center= @sb_title
.row
  #categories-shelf
    .small-12.columns
      .row
        - @categories.keys.sort.each do |letter|
          .small-10.medium-8.large-6.small-centered.columns
            %h3= letter
            .divider-line
            %ul.no-bullet.text-center
              -  @categories[letter].each do |cat|
                %li
                  = link_to cat.category, category_path(cat.slug)