- unless @books.empty?
  %h2 Libros de #{@category.category.downcase}
  = render 'books/books_shelf'
  %hr
- unless @magazines.empty?
  %h2 Revistas de #{@category.category.downcase}
  = render 'magazines/magazines_shelf'
  %hr