.row
  .head-line.small-12.columns.show-for-large-up
    %h3.text-center= @sb_title
- if @books.empty?
  .row
    .small-12.columns.text-center
      %h4 No hay libros para esta categoria
      %hr
- else
  %h3 Libros
  = render 'books/books_shelf'
  %hr
- if @magazines.empty?
  .row
    .small-12.columns.text-center
      %h4 No hay revistas para esta categoria
- else
  %h3 Revistas
  = render 'magazines/magazines_shelf'