.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.brand{:href => "/"} Gutenberg
      .nav-collapse.collapse
        %ul.nav
          %li.active
            %a{:href => "/"} Inicio
          %li
            %a{:href => "#"} Categorias
          %li
            %a{:href => "#"} Cuenta
        %button.btn.btn-danger.pull-right{:type => "submit"} Salir